*
  box-sizing: border-box

.sudoku
  display: grid
  grid-gap: 20px
  border: 1px dotted black
  padding-bottom: 40px

.sudoku__header
  margin: 0 auto
  text-align: center
  background: gray
  width: 100%

.panel, .win__btn
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  align-items: center
.panel__btn
  text-transform: uppercase
  font-size: 1.3rem
  padding: 20px
  border: 0
  transition: 0.3s
.panel__btn--new-game
  border-radius: 10px 0 0 10px
  box-shadow: 0 0 3px 3px grey
.panel__btn--new-game:hover, .panel__btn--new-game:focus
  background: goldenrod
.panel__select
  box-shadow: 0 0 3px 3px grey
  font-size: 1.3rem
  padding: 20px
  background: darkgrey
  border: 0
  z-index: 1
  transition: 0.3s
  margin: 0 10px
.panel__select:hover, .panel__select:focus
  background: grey
.panel__select::after
  content: '>'
.panel__btn--solve
  box-shadow: 0 0 3px 3px grey
  border-radius: 0 10px 10px 0
.panel__btn--solve:hover, .panel__btn--solve:focus
  background: cornflowerblue
.panel__timer
  width: 100%
  text-align: center
  font-size: 2rem
  margin-top: 20px

.board
  margin: 0 auto
  border-collapse: collapse
  //margin-bottom: 20px // Weird firefox bug with margin-bottom/top on table (td-s height behaves like animation)
.board__row

.board__field
  background: white
  display: inline-flex
  justify-content: center
  align-items: center
  font-size: 1.5rem
  border: 1px solid black
  width: 32px
  height: 32px
.board__field--input
  font-size: 1.6rem // in chrome lower values cause bugs in table layout
  background: lightgray
  color: darkgoldenrod
  text-align: center
  border: 1px solid black
  outline: 0
.board__field--input:focus
  position: relative
  outline-offset: 2px
  outline: 5px solid goldenrod

.win
  display: flex
  flex-flow: column nowrap
  position: absolute
  height: 100%
  width: 100%
  top: 0
  left: 0
  background: white
  justify-content: center
  align-items: center
.win__start
  display: flex
  flex-flow: column nowrap
  box-shadow: 0 0 5px 5px grey
  border-radius: 10px 10px 0 0
.win__btn
  border-radius: 10px 10px 0 0
  background: lightgrey
.win__btn:hover, .win__btn:focus
  background: goldenrod
.win__btn , .win__select
  transition: 0.3s
  border: 0
  color: black
  font-size: 1.5rem
  padding: 10px 30px
.win__select
  background: darkgrey
  border: none
.win__select:hover, .win__select:focus
  background: grey
.win__time
  text-align: center
  font-size: 1.5rem
  padding: 10px 0

.stats
  margin: 0 auto
  width: 90%
.stats__records
  max-width: 500px
  max-height: 400px
  overflow: auto
.stats__record
  background: grey
  padding: 15px
  margin: 3px
  display: flex
  justify-content: space-between
  font-size: 1.3rem
  color: white
.stats__level
  text-transform: uppercase
  margin: 0 auto 0 15px
.stats__time

@media (max-width: 460px)
  .panel
    text-align: center
  .panel__btn
    width: 47%
    border-radius: 0
  .panel__select
    width: 47%
  .panel__btn--solve
    margin-top: 15px

@media (min-width: 360px)
  .board__field
    width: 38px
    height: 38px

@media (min-width: 600px)
  .board__field
    font-size: 2rem
    width: 50px
    height: 50px
